[2019-02-14 13:58] NegInfinity opened #1 "TODO: 2018.3 prefab system change"
2018.3 version of unity has changed behavior of prefab system, including PrefabUtility, which is heavily used for prefab root detection. Needs to be cleaned up and modified.

[2019-02-14 14:00] NegInfinity opened #2 "TODO: 2018.3 Landscape system update"
2018.3 version of unity altered data structure of terrain system, now layers are stored as external assets. This needs to be cleaned up, added for detection in during project scan, and added support on unreal side.

It is likely that I'll need to add new branches in unreal material.

[2019-02-14 14:11] NegInfinity opened #3 "TODO: Basic prefab support"
Ideally unity prefabs should be recreated at unreal side as blueprints.

Unity is currently (2018.3...2019.1) rolling out nested prefab support, so at a basic level the exporter should be acting in the way compatible to previous unity releases where only non-nested prefabs were supported.

Nested support - if possible - will have to be delayed for later.

[2019-04-19 08:24] wrekklol opened #4 "Cannot import into UE4.22"
Exporting from Unity 2019.1.0f2, importing into UE4.22.
Assets are from Unity's asset store (POLYGON - Dungeons Pack).

[project.log](https://github.com/NegInfinity/ProjectExodus/files/3097504/project.log)

[2019-04-24 12:40] NegInfinity commented on #4
Hi.
I apologize for the slow reply, as somehow I missed the email notification.

Anyway.

I've removed Zipped exported files from public view because they technically still contain unity asset st ore assets, and those should not be publicly redistributed.

Regarding the issue you posted.
Please download the latest version of the code and see if it fixed the problem. Commit https://github.com/NegIn

[2019-04-24 13:01] wrekklol commented on #4
Hello.

I just wanted to let you know that in 4.22(not sure if this is caused by
4.22 or something else like OS(I'm on Windows 10)) I had to change some
stuff in order to get the plugin running.

Line 78 of AnimationBuilder.cpp:
*animSeq->NumFrames = numFrames;*
to
*animSeq->SetRawNumberOfFrame(numFrames);*

Line 67 of ImportWorkData.h:
*:world(world_), editorMode(editorMode_), scene(scene_){*
to

[2019-04-24 13:06] NegInfinity commented on #4
The image is not linked properly, but if the problem has been fixed, there's no need for regioanl settings anymore.

The problem was caused by local handling on Unity side which pulled decimal separator from your OS settings, and your OS used "," for it.

As for the rest of the fixes... it looks like at the moment I'm still at 4.21.2 version of Unreal, I'll incorporate them into the build once I u

[2019-04-24 13:22] wrekklol commented on #4
The editor crashes upon saving an imported static mesh.
I don't have c++ symbols installed at the moment, so I can't give details
on exactly what's going on(couldn't find anything in the log either).

Den ons. 24. apr. 2019 kl. 15.07 skrev NegInfinity <notifications@github.com

[2019-04-24 14:33] NegInfinity commented on #4
Hi. Could you report this as a new issue?

I'll try to look into it.

[2019-04-24 14:36] wrekklol opened #5 "Unreal Editor crashes upon saving assets"
UE4.22 editor crashes upon saving imported static meshes and possibly other types.

[2019-04-24 14:56] NegInfinity commented on #5
Hi, this is happening on 4.22 and "PolyDungeon" asset pact, while unreal is attempting to save mesh, am I right?

I'll look into it within a few days from now, meanwhile if you can, could you check if the crash is still happening on 4.21.2?

[2019-04-24 14:58] NegInfinity commented on #4
Alright. I've responded to the new issue, meanwhile I consider this one (unable to import) being fixed .

[2019-04-24 14:58] #4 closed

[2019-04-24 16:34] wrekklol commented on #5
Confirmed that 4.21.2 does not crash when saving.

[2019-04-24 16:35] wrekklol commented on #4
4.21.2 does not crash when saving the meshes.

Den ons. 24. apr. 2019 kl. 16.58 skrev NegInfinity <notifications@github.com

[2019-04-24 16:57] NegInfinity commented on #5
I'll address that when I upgrade to 4.22. This might take a while. Meanwhile consider using 4.21.2 for importing.

[2019-04-26 03:41] fangguanya opened #6 "Bring ParticleSystem from Unity to UE4"
Does this plugin supports export particlesystem from unity to UE4?

[2019-04-26 17:48] NegInfinity commented on #6
It does not, but this is something I'm planning to try to do eventually.

Transferring prefabs is higher priority than particles at the moment.

[2019-04-29 14:43] danouche93 opened #7 "Compiling Error in Unity"
Hi,
I'm new here and I saw on your website your Script that seems very cool.
I wanted to transfer the scene I made in Unity to Unreal but when I copy the folder ExodusExport in the Asset file, I get compiling error in the console :

![photo](https://user-images.githubusercontent.com/50110805/56904027-be804d80-6a9d-11e9-87bb-ea9013b5e69f.png)

I try with every version of unity but it's the same eve

[2019-04-29 19:48] NegInfinity commented on #7
Hi.
Could you specify unity version and .NET framework version your project uses?
Which OS are you using? (windows 10, looks like it?)
Are you trying the latest version from github, or are you trying one of the releases?

Additionally... you say the error occurs even on an empty project. Could upload such empty project so I can take a look at it?

[2019-04-29 19:54] NegInfinity commented on #7
Additionally, unity-side setup is displayed here:

https://www.youtube.com/watch?v=uE2THH5pI3c

Are you doing the same thing as in the video?

[2019-04-29 21:47] danouche93 commented on #7
Hi thanks for your fast answer.
My project is on Unity 2018.2.13f1 version. I'm not sure about the .NET framework version but I guess it is written here in the configuration :
![photo2](https://user-images.githubusercontent.com/50110805/56927480-995b0180-6ad4-11e9-9317-6c6835346f9b.png)
I'm using Windows 10. I'm not sure what you mean by using the latest version from github, I just download the fi

[2019-04-30 00:17] NegInfinity commented on #7
Hi.

Your project uses Unity 2018.2, while the latest version is 2018.3.

However, the actual reason for the compile errors is that you're targeting .NET framework 3.5. The plugin requires .NET framework version 4.

To fix that you need to proejct settings and set it to .NET version 4 equivalent.

![image](https://user-images.githubusercontent.com/15124172/56934746-f1563000-6af5-11e9-8b0e-9d81e20d

[2019-04-30 16:41] danouche93 commented on #7
Okay I switched the framework version from 3.5 to 4 but now I get these 2 errors :
![photo](https://user-images.githubusercontent.com/50110805/56978354-906f3c00-6b77-11e9-900a-cabd4c6d6d90.png)

[2019-04-30 17:29] danouche93 commented on #7
Sorry I didn't see the part where you say to upgrade to 2018.3, it worked thanks a lot!!!!

[2019-04-30 17:57] danouche93 commented on #7
Okay now I have a problem in Unreal. When I copy past the folder ExodusImport in the Plugins folder that I created, I don't see it in the plugin editor even if I re-load the project...
Can you help please ?

[2019-04-30 20:42] danouche93 commented on #7
Ok, I feel I talk to myself but actually I put the file the wrong way, now I have this building error that I don't know how to solve after I enable the plugin of ExodusImport :
![pphoto](https://user-images.githubusercontent.com/50110805/56991913-249dcb00-6b99-11e9-9a2e-0dda823a1710.png)
![Untitled](https://user-images.githubusercontent.com/50110805/56991917-28315200-6b99-11e9-82d5-37d06a96e685.pn

[2019-05-01 13:12] danouche93 opened #8 "Crash on Import Unreal"
Hey,
I did a new topic because I have now a problem with Unreal.
When I try to Import the .json file to Unreal, it crashes and I get this error :

LoginId:f72b7e044e602f24b32ffea98818406c
EpicAccountId:113b31dff299415bac6058a219062d14

Assertion failed: (Index >= 0) & (Index < ArrayNum) [File:D:\Build\++UE4\Sync\Engine\Source\Runtime\Core\Public\Containers/Array.h] [Line: 611] Array index out of b

[2019-05-01 15:07] NegInfinity commented on #7
Hi. For me to look into this, I need some sort of log file.

Normally, in thsi case you'd open *.sln project in visual studio and build it from there.  Have you tried that?

[2019-05-01 15:13] NegInfinity commented on #8
Hi.

It looks like you hit a bug. I need a test data that causes that error, preferably something that is not copyrighted.

If you could either send me the exported files via email, or upload them somewhere, that would be great.

Hard to proceed without that.

Alternativley, let me know what asset have you tried to export and whether this happens when you work with a plain scene with basic shapes.

[2019-05-01 15:17] danouche93 commented on #8
Okay, I figured out what caused the problem, it was a object that I removed in the scene.
Now I succeeded to import the asset in Unreal but you can't see any object in the scene ... I can see that the object have the texture and everything but I can't see it in the scene, it's really weird
[Project 3ds max to UE.zip](https://github.com/NegInfinity/ProjectExodus/files/3134913/Project.3ds.max.to.UE.

[2019-05-01 15:34] danouche93 commented on #8
Here is the link with all the asset : https://drive.google.com/file/d/1JqHrrZ05vlEPW1AfuBmAysBSntUbFSn6/view?usp=sharing

[2019-05-02 12:29] stratakos11 opened #9 "Unreal Engine Crash"
So i have a problem while importing JSON file on unreal engine.Here i upload my Json file,so u can have a look when u have time.https://drive.google.com/file/d/1rrHms5e_bMCT92SGdeYPpT8NGy2KnDlI/view

Thanks for providing us this awsome plugin for free <3
Much Love from Sparta

[2019-05-07 13:37] NegInfinity opened #10 "TODO: Physics system completeness (postponed)"
For the reasons unknown, 2018 3 fails to properly display editors for configurable joints, and as such ful support for stuff like motors and angular motors will be indefinitely delayed.

Physics system port took INSANE amount of time (due to RL circumstances as well), so it will be for now put on hold.

Currently missing spots in the suport:

* Springs/dampers on limits
* Configurable joint motors

[2019-05-07 13:41] NegInfinity commented on #9
Hi.

Apologies for the late reply.
Your file/link requires access permissions. Please either gran permissions, or upload it somewhere where I can access it. (dropbox, mega, etc)

[2019-05-07 14:45] NegInfinity commented on #8
Hi.

Sorry for slow reply.

I've imported the project and the scene seemingly imports without problem, along with terrain.

However, due to the way terrain import works, when you import a scene with terrain, it is not imported into the current scene, and instead a **new scene file**, which is by default within /Import/<ProjectName>/<SceneName> , where <SceneName> can be "unnamed scenes" if you exp

[2019-05-07 17:13] stratakos11 commented on #9
https://mega.nz/#!EWgClabR!KrPuJGp8ONu-Nea2HjLcVAS0GZsKaMR6EGi8ZUGRmLM

[2019-05-10 17:27] NegInfinity commented on #5
The plugin has been updated for 4.22.1 . Check if the problem with crashing still happens.

[2019-05-29 20:17] ericblade commented on #9
[unityconvert.zip](https://github.com/NegInfinity/ProjectExodus/files/3234287/unityconvert.zip)

@NegInfinity Here's one that crashes also.  It's crashing on static mesh import.  I can pretty much guarantee that my source geometry is broken in some way or another, which causes it to end up all funky when you try to import it to Unreal.

I traced it back to actually calling mesh->Build() in MeshBui

[2019-06-03 13:34] NegInfinity commented on #9
@ericblade Thanks for the report and sorry for the late reply.

It seems the mesh in question has no UV coordinates, and the engine expects it to be present. I'll write some sort of workaround for that.

[2019-06-03 14:59] ericblade commented on #9
great -- i'm not sure what the proper fix for it is .. i don't know specifically which mesh that it's breaking on, but you have the source data files there.  I can try to provide some info about what it is from Unity, if that helps at all.

Epic's support said basically "not our problem, but thanks for the bug report, it may end up fixed in the future, in the meantime file a bug with the plugin" :

[2019-06-03 15:14] NegInfinity commented on #9
@ericblade I pushed a [simple fix](https://github.com/NegInfinity/ProjectExodus/commit/e33fd206de1187a0a0726fee9705ceede18ace64) for the crash, right now, Pull from master see if it works for you. I was able to load your test data into the engine this way.

The proper fix would be either generating UVs automatically or looking whether there's automatic UV generation somewhere deep within the unrea

[2019-06-03 15:21] NegInfinity commented on #9
@ericblade Additionally, when running into problems with this plugin, do report them here. I'm currently maintaining the plugin, so I'll be responding to the bug reports and the like.

[2019-06-03 15:43] NegInfinity opened #13 "Default UV generation for geometry without uvs"
This seems to be causing issues on import. I've added a plug for it, which takes planar uvs based on world position, but I need to check at some point whether there's need to have something more advanced.

Needless to say, this is low priority.

[2019-06-03 16:56] ericblade commented on #9
I'd say that this was far more successful than my solution -- i have a bunch of different items now in my import that i didn't even realize were in the exported level.

[2019-07-08 08:53] liuqiangNetease opened #14 "Unreal pakage error"
log:

PackagingResults: Error: DoesPackageExist: DoesPackageExist FAILED: '/JsonImport/Textures/grid' is not a standard unreal filename or a long path name. Reason: 路径未以有效的根开头。路径必须以 '/Engine/', '/Game/', '/Paper2D/', '/AnimationSharing/', '/CryptoKeys/', '/DatasmithContent/', '/MagicLeap/', '/MediaCompositing/', '/OculusVR/', '/SteamVR/', '/ExodusImport/', '/Confi
g/', '/Script/', '/Memory/', or '

[2019-10-04 13:54] cucsijuan opened #15 "Unreal crashes when exporting a character"
I was exporting a single character, unity exported it succesfully but when importing it to UE4, it fails on exporting meshes, i was exporting a character asset made by POLYGON (Sci-Fi space Pack specifically)

this is the assert that failed:
Assertion failed: FindRawBoneIndex(BoneInfo.Name) == INDEX_NONE [File:D:\Build\++UE4\Sync\Engine\Source\Runtime\Engine\Public\ReferenceSkeleton.h] [Line: 188]

[2019-10-12 19:11] nurettinart opened #16 "An unreal process has crashed UE4 - Help Please"
ERROR NOT FİXED

LoginId:b038a6d0fc47a00f5ae88db964ce7db7
EpicAccountId:604e0ee073a54d43a198b69efa225db6

Caught signal

__pthread_kill Address = 0x7fff77c69b66 (filename not found) [in libsystem_kernel.dylib]
abort Address = 0x7fff77bc51ae (filename not found) [in libsystem_c.dylib]
basename_r Address = 0x7fff77b8d1ac (filename not found) [in libsystem_c.dylib]
mtlpp::Device::GetRegistryID() cons

[2019-10-24 04:21] sin10001 opened #17 "Menu Option not showing"
Hello!
First, thank you so much for coding this!
Second, I've followed the video instructions **with success** for two trial projects (created specifically to test/problem-solve this), but can't get the right-click menu entry to appear after adding the Exodus Export Folder to an open-source project I found and want to transfer ... I've made sure that the Scripting Runtime is Net 4.x (as you sugges

[2019-10-24 20:24] KENNITHHH opened #18 "Crashing on import scene with SkeletalMesh"
Using UE4 4.21.3 and exported with Unity 2018.3.7f1

Assertion failed: FindRawBoneIndex(BoneInfo.Name) == INDEX_NONE [File:D:\Build\++UE4\Sync\Engine\Source\Runtime\Engine\Public\ReferenceSkeleton.h] [Line: 188]

KERNELBASE
UE4Editor_Core
UE4Editor_Core
UE4Editor_Core
UE4Editor_Engine
UE4Editor_ExodusImport!SkeletalMeshBuilder::setupReferenceSkeleton() [e:\ue4 workshop\schoolabandoned\plugins\exod

[2019-12-15 07:26] zMizouz opened #19 "Crasher import! 15-12-2019"
LoginId:3e657037405f002a76a2bfb9dce729e3
EpicAccountId:752601d3d22244d0b37ae594b6caeac6

Assertion failed: (Index >= 0) & (Index < ArrayNum) [File:E:\UE_4.23\Engine\Source\Runtime\Core\Public\Containers/Array.h] [Line: 614] Array index out of bounds: 0 from an array of size 0

UE4Editor_Core
UE4Editor_Core
UE4Editor_Core
UE4Editor_Core
UE4Editor_ExodusImport!DispatchCheckVerify<void,<lambda_8ae2c1

[2020-01-17 14:26] zMizouz opened #20 "Crash Import Scene UREAL ENGINE 4.23.1"
[U4_PJ.log](https://github.com/NegInfinity/ProjectExodus/files/4077211/U4_PJ.log)
![Untitled](https://user-images.githubusercontent.com/35234455/72619505-061e7080-3970-11ea-8876-097e12cb9b9d.png)

[2020-02-12 11:56] vozer opened #21 "The following modules are missing or built with a differente engine"
Thx for the plugin!

When i enable the plugin in a blank project in unreal engine 4.24.2 and restart it wants to rebuilld the plugin, but fails to do so.

"The following modules are missing or built with a differente engine" Exodus import. Would you like to rebuild them now?"

"Porject could no be compiled. Try rebuilding from source manually."

In version 2.23.1 he is at least "starting to build"

[2020-02-13 12:56] NegInfinity commented on #21
Hi. Could you provide details? I are cloning from master branch? Are there build errors? I'll check this shortly.

[2020-02-13 13:55] vozer commented on #21
Hi!
I downloaded (cloned) the repo master branch yes.
I had the same problem now with another project, but it got fixed by installing .net framework and visual studio for game development workload.

But for Exodus it still doesnt work.
When i am home i will try to add an empty c++ class to my blank project and try to build it again with visual studio via the .unrealproject context menu to see if t

[2020-02-13 14:45] NegInfinity commented on #21
I've been stuck on trying to implement some feature on wip branch which is not here, and that included some tweaks to get it compile on 4.24 specifically. I'll see if I failed to provide them for the master.

[2020-02-18 20:01] Rombond commented on #21
Same problem here, is there any solution ?

[2020-02-18 23:42] NegInfinity commented on #21
@Rombond Given that this is a show stopper, check it in 48 hours to see if I uploaded a fix.

[2020-02-20 15:22] NegInfinity commented on #21
@Rombond , @vozer I've uploaded an update, see if this fixes the problem. 4.24 deprecated few things, seems that along the way they escalated from warnings to full errors.

[2020-02-20 17:35] Rombond commented on #21
Same error, i'm on 4.24.1

[2020-02-20 17:38] Rombond commented on #21
"The following modules are missing or built with a differente engine" Exodus import. Would you like to rebuild them now?"

"Project could not be compiled. Try rebuilding from source manually."

[2020-02-20 18:11] NegInfinity commented on #21
@Rombond I'm on windows system.

When you compile project on windows, there's a "show log" button which allows you to check the output.

If Mac OS version has similar, could you press the button and copy-paste the output here? This way at least I'll be able to check what the problem is.

[2020-02-20 18:24] Rombond commented on #21
https://imgur.com/a/2dC6EIL

that is what i have just before "Project could not be compiled. Try rebuilding from source manually."

[2020-02-20 21:56] NegInfinity commented on #21
@Rombond I need output from the moment AFTER the project fails to compile. Then it will have some sort of output. In the image you posted there are no error messages.

[2020-02-20 22:32] Rombond commented on #21
I know there is no error on my image,
i made a video on when i have an error https://imgur.com/a/NdYb7mB

There is no log with "Exodus" inside ...

[2020-02-21 04:59] NegInfinity commented on #21
@Rombond What happens when you try to compile project manually, like the error message suggest?

[2020-02-21 05:50] Rombond commented on #21
i can't open the project when ExodusImport is activate, i have to delete it manually

[2020-02-21 06:19] NegInfinity commented on #21
@Rombond  Compiling manually means compiling it through C++ IDE. Without opening UNreal Engine. On Windows it would be compiling through Visual Studio, and on Mac Os that would likely be compiling through XCode. On windows system solution file can be generated by right clicking on *.upgroject and selecting "Generate Visual Studio Project files". Mac OS should have something similar.

[2020-02-21 11:16] vozer commented on #21
Hey!

So i now did the following:

Installed UE 4.24.2
Installed Visual Studio 2019
Added a Player-C++-Class in the Project

I tried starting it with Exodus Import in Plugins->Exodus Import,. no luck, still the same message.
I compiled the Project manually with Right-Click->Compile, no errors shown but when is tart the project still the same error.

I then opened the Project in Visual Studio and t

[2020-02-21 14:31] NegInfinity commented on #21
@vozer Okay, this is interesting. I'll try to replicate the issue on my end (because in my case this doesn't happen)

[2020-02-29 12:44] NegInfinity commented on #21
@vozer, @Rombond  Try the latest version from master and see if that fixes it.

[2020-03-03 14:56] leo0215 opened #22 "NullReferenceExecption"
when i trying to export object,and got "NullReferenceException: Object reference not set to an instance of an object",and export process is terminated,is that mean scene have unsupported object?

[2020-03-03 15:14] NegInfinity commented on #22
It means you likely ran into a bug. Could you tell me your unity version and perhaps send over some sort of sample data that triggers this error? You can find the email address at the end of readme.

[2020-03-06 05:26] foxtrotfoodie commented on #20
I am also having this issue

[2020-03-06 12:08] NegInfinity commented on #20
@foxtrotfoodie Could you provide test data for me to investigate it? At least exported scene. The data could be sent to email from the readme.

[2020-03-10 07:05] Neogene commented on #21
In my case the problem was due to the fact I created a Blueprint project and tried to use the plugin, instead using a C++ project worked flawlessly!

The "only drawback" seems that there is no way to remove the plugin and keeping the material used which is complex to replicate, and removing the plugins folder breaks all the materials created. There should be a way to decouple the. plugin from the

[2020-03-10 07:22] vozer commented on #21
In my case that cant be the problem bc i have a C++ Project.
But my USB with the Project on it unfortunateley died unexpectedly.
As soon as i recovered the data i will give you an update.

Thank you!

[2020-03-10 11:23] NegInfinity commented on #21
@Neogene I think you might be able to duplicate from plugin resources folder (after making it visible), but  easier decoupling is going to be a very low priority, and won't be implemented in near future.

@vozer There were few issues with include paths, and at some point include path became pedantic.  I fixed it and it should function now. If it doesn't, post an update here.

[2020-03-12 12:34] ishlilith opened #23 "ue4 import crash. Assertion failed"
I get an assertion Failed when I'm trying to import.
this s the output:

`
Assertion failed: baseMaterial [File:C:/Unreal Projects/exporter/Plugins/ExodusImport/Source/ExodusImport/Private/MaterialBuilder/MaterialBuilder.cpp] [Line: 149]

UE4Editor_Core
UE4Editor_Core
UE4Editor_ExodusImport!MaterialBuilder::createMaterialInstance() [c:\unreal projects\exporter\plugins\exodusimport\source\exodusimp

[2020-03-28 00:38] taw116 opened #24 "Incorrect scale size"
After importing a complete scene from Unity to Unreal the scale of the meshes in the scene are to large is there a fix for this?
Thank you

[2020-03-30 05:51] trashie65 opened #25 "sorry wrong software message deleted"

[2020-03-30 07:37] NegInfinity commented on #24
Hi. To get this fixed I need a sample to reproduce this problem on my end. Either exported ccontent (.json file + folder next to it) or a minimal scene in unity.

Can you provide something like that?

[2020-03-30 08:04] trashie65 commented on #24
Ok thanks for the reply i love the software its great.. i will send you a small example scene

[2020-03-30 08:12] NegInfinity commented on #24
@trashie65 You can send it directly to email within readme file. It will forward it to my main email account.

Have fun.

[2020-03-30 09:37] trashie65 commented on #24
Sorry about the emaill address
This is the email address in the read me file neginfinty000@gmail.com
ive tried 2 times but it cant find the address

Here is a link to my Mega Drive with a file for you to look at
[](url)https://mega.nz/#!KMBgGCIL!UR6kjnsHTkyLuOVDQ4ysRfinI1Y3YytYfcIdcel85b8(/URL)

Please can you in form me if and when you can fix the problem

Im using Unity Unity 2018.3.14 and
Unrea

[2020-03-30 11:40] NegInfinity commented on #24
@trashie65 That's the email address to use, yes.

[2020-03-30 11:44] trashie65 commented on #24
Ill try again but both time my gmail sent it back
I just unloading it to Mega at the moment because it is to big for gmail anyway

[2020-03-30 12:03] trashie65 commented on #24
Sorry i tried to send again but get the same error message back

So here is the link to Mega
[https://mega.nz/#!TEYAyKQJ!VBmz6vBiGz6kHNhxyU5MQ2fCzEwN9rUlPwQ_CPsuMhQ](url)

Hope this helps

Thank you

[2020-03-31 00:34] #25 closed

[2020-04-01 16:33] NegInfinity commented on #24
@trashie65 Hi. I apologize for slow response.

I took a look at your sample project, and there are bunch of issues with the import processs, like terrain textures not importing at all (I'll be looking into it.).

I need to confirm few things...

Am I right that the problem is floors being 4 meters tall upon import into unreal 4?

Is the asset being used in your example called "HE - Ghost Town Mega

[2020-04-02 01:20] trashie65 commented on #24
@NegInfinity  Hi thanks for the reply..

Yes the assets being used is "HE - Ghost Town MegaPack" by Artur G

And its everything in the package that is imported that is to big

( see picture )

![BigPicture](https://user-images.githubusercontent.com/45748708/78200988-a9384e00-74ba-11ea-98a9-01d0e4ba70ed.jpg)

Regards Tony

[2020-04-02 12:52] NegInfinity commented on #24
@trashie65 After looking into the asset it turned out that this is simply how the asset is designed. All objects are twice their "expected" height. See:
![image](https://user-images.githubusercontent.com/15124172/78251205-add02700-74f9-11ea-9589-93be4808e546.png)

Each cube is one meter high, so the door is 4 meters tall. So I do not believe this is an error on my end unless I'm missing something.

[2020-04-02 23:57] trashie65 commented on #24
@NegInfinity Thanks for the Info and looking into what was going on
Also thank you for a great piece of software

[2020-04-05 13:38] Username98978787 opened #26 "No export option in Unity"
![T4534WT4WTW](https://user-images.githubusercontent.com/63195349/78499838-ec254a80-7774-11ea-9d97-02168481f6d8.JPG)

Unity 2019 and 2017 has the following error when the script is imported

[2020-04-06 12:47] NegInfinity commented on #26
WeightedMode is not part of Unity 2017 api and Unity 2017 is not supported. The type is built into the engine.
https://docs.unity3d.com/ScriptReference/WeightedMode.html

Unity 2019.2 and 2018.4.18 on my end do not produce this error. If the error persists please upload a minimal project which triggers it so I can take a look at it.

[2020-04-07 06:49] trashie65 opened #27 "Error Exporting scene"
Hi tried to export a scene.. no json file gets created and i get this error in Unity

NullReferenceException: Object reference not set to an instance of an object
SceneExport.JsonMesh..ctor (SceneExport.MeshStorageKey meshKey, SceneExport.ResId id_, SceneExport.ResourceMapper resMap) (at Assets/ExodusExport/Scripts/Editor/Exporter/JsonMesh.cs:388)
SceneExport.ResourceMapper.makeJsonMesh (SceneExpo

[2020-04-07 12:47] NegInfinity commented on #27
Hi. Would you be willing to share the sample scene so I can take a look at it? You could send it to neginfinity000 <at> gmail.com or post a link here.

[2020-04-08 19:32] SADracon commented on #23
I have the same issues. with unreal 4.22 and 4.23 and 4.24

[2020-04-08 19:35] SADracon commented on #20
Im getting same errors on all 3 engines
I will send you link to the exported scene

[2020-04-15 15:36] 1octopus1 opened #28 "It is not working"
I'm not sure if this plugin has ever worked. I tried it on 3 different engines.
1 on all 3 versions of ue4 you will have a critical error.
2 Topic with a plugin on the forum (you will not get a response from the developer)
3 Contact mail * NOT VALID.
4 YOU are wasting time.

[2020-04-15 17:02] NegInfinity commented on #28
1. It worked on multiple versions I tested it on.
2. TO fix the errors I need error report and sample data.
3. contact mail is neginfinity000(at)gmail.com.

[2020-04-15 17:03] NegInfinity commented on #28
Submit error report, along with exported data, and I will take a look at it.

[2020-04-22 13:11] NegInfinity opened #29 "Skeeltal Mesh Import broken as of Unreal 4.24"
Due to the changes in unreal API, currently any attempt to import a scene with a skeletal mesh in it result in a crash with "Assertion failed: LODINfo ... SkeletalMeshRenderData.cpp, line 213"

This is being worked on. Meanwhile a clumsy workaround is to remove skeletal meshes from the scene prior to export.

[2020-05-25 11:04] JanusVV commented on #27
Hey there, i was hoping you found a solution. I am running into the same trouble.

SceneExport.ExporterWindow.OnGUI () (at Assets/ExodusExport/Scripts/Editor/GUI/ExporterWindow.cs:214)
System.Reflection.MonoMethod.Invoke (System.Object obj, System.Reflection.BindingFlags invokeAttr, System.Reflection.Binder binder, System.Object[] parameters, System.Globalization.CultureInfo culture) (at <437ba245

[2020-05-25 15:49] NegInfinity commented on #27
Hi, @JanusVV

Thanks for the report.

1. Which operating system and which unity version are you using?
2. Would you be willing to share the scene or package, or at least tell hte name of the package that triggers this issue?

[2020-05-25 16:10] JanusVV commented on #27
Hi @NegInfinity.

Thanks for responding!

I am using Unity 2019.3.14f1 <DX11> on Windows 10.
Can send you the package!

[2020-06-08 18:06] theDrGray commented on #22
I'm having the same issue. It is being triggered by this catch on my end:

[code]

[2020-06-08 18:33] theDrGray commented on #22
Seems to work out well when I export a single scene.

[2020-06-08 20:44] NegInfinity commented on #22
@theDrGray
Hello there. Does the logger print anything, or is assetType null?

[2020-06-09 21:51] MaksimsZigunovs commented on #29
Can not import into UE4.25.

[2020-06-18 04:39] ScorpionGlory commented on #27
hi  I am running into the same trouble~~unity 2018.4.3f

[2020-06-20 02:23] JackRonan opened #30 "No version seems to compile with Unreal Engine 4.20.3"
I realise this is an older version but I cannot get the plugin to compile no matter which version I download. I have Visual Studio 2017 and 2019 installed (wasn't sure if I needed 2015 for some reason) or if there is a particular build that should definitely work?

[2020-06-20 12:05] NegInfinity commented on #30
Hello, @JackRonan . The plugin supports 3 latest major releases only. The supported versions are listed in readme file.  Currently those are 4.25.x, 4.24.x, 4.23.x. It was decided to do things this way due to frequent noticeable api changes between releases. The earliest you might be able to compile it on is 4.22, and even that if you're lucky. I don't think there's a github version with 4.20 supp

[2020-06-20 12:13] JackRonan commented on #30
Ah okay, thank you. The version I had tried to use was one that in the readme at the time stated could compile on 4.19.x but either way, it isn't working.

I wish I could upgrade but unfortunately I'm trying to port a Unity map to mod a game that requires that specific version of Unreal so it seems I'm stuck. Thanks anyway! The plugin works amazingly on the latest version of Unreal, there's just n

[2020-06-20 12:13] #30 closed

[2020-07-09 07:30] DiabloFox opened #31 "How do you do the conversion"
Hi I wanted to ask you the question : How do you do the conversion from the coordinate on Unity to Unreal is there a Multiplication or an equation depending on the axis ?
Thanks

[2020-07-09 15:29] NegInfinity commented on #31
This is not a bug report...

There's no equation.

Unity has X axis pointing right, Z axis pointing forward, Y axis pointing up. And by default uses one meter unit scale.
Unreal has Y axis is right, X axis pointing forward, and Z is up. And by default it uses 1 centimeter unit scale.

So to convert unity world space matrix, you break it into components - position and basis vectors, convert them al

[2020-07-09 15:42] DiabloFox commented on #31
Sorry for putting this on Issue :c

Weird because when I import some asset :
Grid 4 :
- Unity : "pos":{"x":-26.318,"y":-12.544,"z":67.172},"rot":{"x":47.486,"y":359.987,"z":281.519},"scale":{"x":1.0,"y":1.0,"z":1.0}
- Unreal Engine : Post (X=6717.199707,Y=-2631.800049,Z=-1254.400024) Rot : (Pitch=-47.486000,Yaw=-0.013000,Roll=78.480988)  Scale : (X=1.000000,Y=1.000000,Z=1.000000)
Stalagmite :
-Uni

[2020-07-09 17:11] NegInfinity commented on #31
@DiabloFox The numbers you posted are completely correct.

X: -26.318; Y:-12.544;Z:67.172 turns respectively into
Y:-2631.8;Z:-1254.4;X:6717.2. Scale does not change, and... yaw pitch roll are not meant to match euler angles.

Basically, see if the object is at the same spot, faces the same direction and is at the same relative scale compared to the parent.

If it looks the same, then it is positi

[2020-07-09 17:28] DiabloFox commented on #31
Oh ! Thank you so much !
So it's  :
X :  Unity(x) -> UE4(y)
Y : Unity(y) -> UE4(z)
Z :  Unity(z) -> UE4(x)

[2020-07-09 17:33] NegInfinity commented on #31
@DiabloFox
That's true only if you're dealing with direction.
With position, you'll have to multiply it by 100 (because unreal uses centimeter scale). See
UnrealUtilities.cpp , functions called "unityPosToUe" and "unityVecToUe". "Pos" means Position, "Vec" means vector or direction.

[2020-07-09 20:30] DiabloFox commented on #31
If you have to do a documentation about it try to add this because there is not really anybody talking about this. And it's really good work, I wish you the best ! Thanks again !

[2020-08-01 19:42] vrpixel opened #32 "Unity 2018.3.0f2"
I have placed ExodusExport into my project Assets folder, the files were discovered just like in the tutorial video, however I don't get any menu option in the top bar... Any ideas why?

Oops, I can't edit the title now, sorry!

[2020-08-01 20:52] #32 closed

[2020-08-13 21:05] DiabloFox opened #33 "Unity Rotation to Unreal"
Hi ! I got the awnser for the coordinate from Unity to Unreal
X : Unity(x) -> UE4(y) * 100.0f
Y : Unity(y) -> UE4(z) * 100.0f
Z : Unity(z) -> UE4(x) * 100.0f

But for rotation I try to search in the UnrealUtilities.cpp but I coudn't find the awnser. Every vector is for the POS but I try to search for any ROT or DIR function but nothing I don't understand.

Thanks for your fabulous work !

[2020-08-30 06:20] horacehoff opened #34 "Unity fails to export project"
When, in Unity, I hit "export project", I get this error :
[code]
Oh, also, I use Unity 2018.3.0f2

[2020-09-09 13:48] NegInfinity commented on #33
@DiabloFox Hi. Sorry for a big delay with the response.

The project converts object matrix stored within the object and reconstructs it on Unreal side. It means, it does not perform conversion between different rotational systems (yaw/pitch/roll, euler angles) in different engines, and simply takes a matrix, splits it into 4 vectors (position, local x, local y, local z), converts THOSE and then p

[2020-09-10 15:30] Neogene opened #35 "How to use a roughtness texture?"
Hi,

i have a shader which uses roughtness texture how can i modify the base unreal shader (exodusmaterialfunction) to use it, i tried adding a texture props but was unable to find the connection to make it work inside the smoothness/roughtness area inside exodusMaterialFunction.

thanks,

[2020-09-10 16:50] NegInfinity commented on #35
You are not supposed to modify exodusMaterialFunction.

Technically the shader is supposed to work as a reasonable default material when you transfer resources over from unity to unreal. And then you're supposed to replace it with your own configuration at some point...

However, if you want to keep using exodusMaterial, you can do that. In this case you'd need to follow unity convention and provi

[2020-09-10 16:52] Neogene commented on #35
The problem was due to the shader used which is a shader graph and was not converted, and it used roughtness texture doing the 1-value to make it smoothness as required by the main lit master node of shader graph.

[2020-09-10 16:57] Neogene commented on #35
Yes i thought to disconnect the node, but i was thinking to change it a bit to keep the same original behavior. Ok i'll disconnect it. thanks.

[2020-09-17 07:31] vrpixel opened #36 "Unable to import project - Polygon to UE 4.24"
UE4Editor_Core
UE4Editor_Core
UE4Editor_ExodusImport!GeometryComponentBuilder::processMeshAndColliders() [d:\ue4\code424\plugins\exodusimport\source\exodusimport\private\builders\geometrycomponentbuilder.cpp:186]
UE4Editor_ExodusImport!JsonImporter::importObject() [d:\ue4\code424\plugins\exodusimport\source\exodusimport\private\jsonimporter\object.cpp:134]
UE4Editor_ExodusImport!JsonImporter::load

[2020-10-06 16:48] NegInfinity opened #37 "Broken transfer of visibility flags in multi-component objects"
Situation:

In Unity: active/visible gameobject with a sole mesh collider.

On unreal side this should be implemented as a StaticMeshActor where component visibility is set to false.
Currently this results in a visible collider.

Reason: There's no separation between object visibility and component visibility at the moment. ImportedObject should probably implement a flag and that should be used to

[2020-10-06 16:51] NegInfinity opened #38 "Crash upon trying to import object with a single mesh collider"
Currently trying to import objects that only have a mesh collider on them and no renderer (Unity-side) causes importer to crash.

[2020-10-06 17:21] NegInfinity commented on #38
Should be fixed in the most recent update.

[2020-10-06 17:21] #38 closed

[2020-10-06 17:22] NegInfinity opened #39 "Lod support"
Lod groups are not currently supposed, which results in a mess when lod models are imported.

[2020-10-07 08:07] DonaldinhoDTP opened #40 "Unity exportation setup issue Unity 2018.3.0f2"
Hi, i did everything you did in the video tutorial but i still can't see the button "export to unreal" when i right clic an item

[2020-10-08 17:05] NegInfinity commented on #40
Hi.

Which operating system and which version of unity are you using?
Are there any errors in unity console when you add exporter scripts to your project?

[2020-10-11 21:40] Weixuanf commented on #27
Same problem here, is there a solution yet? I'm Unity2019.4.11, Win10. The asset i'm trying to export is Dark City 2.0 (https://assetstore.unity.com/packages/3d/environments/sci-fi/dark-city2-cyberpunk-pack-133817) the test scene came with it.

NullReferenceException: Object reference not set to an instance of an object
SceneExport.JsonMesh..ctor (SceneExport.MeshStorageKey meshKey, SceneExport.Re

[2020-10-12 03:33] imtrobin opened #41 "Feature: Export options"
Hi, I like to suggest an option dialog while exporting e.g.

- exclude LOD
- exclude lighting
- other future options etc

[2020-10-12 05:51] Weixuanf commented on #27
Hi I just debugged a little bit and I think I found a solution.
### Debug
I think the reason of the error here is at Assets/ExodusExport/Scripts/Editor/Exporter/JsonMesh.cs:388, inside `public JsonMesh(MeshStorageKey meshKey, ResId id_, ResourceMapper resMap)`
I put some console logs here, and found that at line 388, `var mesh = meshKey.mesh;` is actually null value, so when you try to access `nam

[2020-10-12 05:56] Weixuanf commented on #22
Hi I think I found a solution for this, please see my comments in https://github.com/NegInfinity/ProjectExodus/issues/27

[2020-10-12 06:03] Weixuanf opened #42 "Crash importing to Unreal: Renaming an object is not allowed"
Fatal error: [File:D:/Build/++UE4+Licensee/Sync/Engine/Source/Runtime/CoreUObject/Private/UObject/Obj.cpp] [Line: 204] Renaming an object (BoxComponent /Game/Maps/StartCreate2.StartCreate2:PersistentLevel.Building_03.BoxComponent_21) on top of an existing object (BoxComponent /Game/Maps/StartCreate2.StartCreate2:PersistentLevel.Building_03.GameObject_collider# d hd(box)) is not allowed

UE4Editor_

[2020-10-21 09:25] DonaldinhoDTP commented on #40
Hello, sorry for late reply, I'm using Unity 2018.3.0f2 under windows 10, i got these errors in my console [https://www.noelshack.com/2020-43-3-1603272279-exodus.png](url)

[2020-10-29 21:54] dezodor opened #43 "Unity 2018.3.9f1 issue"
Hi, I added the ExodusExport folder to the Assets dir, Unity 2018.3.9f1 imports the scripts, and I see no error in the console. However I see no options in the menus as suggested by the readme.

Is there something I'm missing?

[2020-10-29 21:58] dezodor commented on #43
Had to edit script api to NET 4.x in Project settings -> Player.

[2020-10-29 21:58] #43 closed

[2020-12-16 12:27] staniekmarcin opened #44 "Do you have any solution fot this?"
![image](https://user-images.githubusercontent.com/45049175/102348264-eccbdd00-3fa1-11eb-9341-5e819884ad05.png)

[2020-12-17 08:55] #44 closed

[2020-12-18 16:53] staniekmarcin opened #45 "SkeletalMeshes"
I need to transfer scene from unity that contains about 1000+ Object and some of them have bones so importing crashes UE.
Do you have any solution for this? Or maybe i can somehow ignore specific objects (SkeletalMeshes)?

[2020-12-29 15:07] MarshalScorpion commented on #21
Hello
I have the same problem. when I try to compile from the source this is the error i get from visual studio:

1>------ Build started: Project: MyProject2, Configuration: Development_Editor x64 ------
1>Parsing headers for MyProject2Editor
1>  Running UnrealHeaderTool "D:\unreal projects\New folder\MyProject2\MyProject2.uproject" "D:\unreal projects\New folder\MyProject2\Intermediate\Build\Win6

[2021-01-04 13:47] ShadowOps opened #46 "Unreal crash 4.25 when importing."
Assertion failed: rootComponent [File:J:/Game Assets/Unreal Engine Projects/ImportFactory/Plugins/ExodusImport/Source/ExodusImport/Private/builders/GeometryComponentBuilder.cpp] [Line: 191]

UE4Editor_Core
UE4Editor_Core
UE4Editor_ExodusImport!GeometryComponentBuilder::processMeshAndColliders() [J:\Game Assets\Unreal Engine Projects\ImportFactory\Plugins\ExodusImport\Source\ExodusImport\Private\bu

[2021-01-11 14:16] DiabloFox commented on #31
Hi, sorry to bother you but how the rotation is convert from unity to unreal standard ?

[2021-01-19 20:44] genemiller opened #47 "UE4.25.4: Exodusimport "...module missing or built with a different engine version""
1. Created a new C++ project in UE4.25.4 (on MacOS 10.15)
2. Installed Exodusimport as a new Plugin.
3. Restarted the project
4. Received message: Missing {Project_name} Modules -- ...module missing or built with a different engine version.
5. Responded "Yes" to "Would you to rebuild {Project_name} now?".
6. Compile ran for a few seconds and produced

     - ActionThread.ActionDebugOutput: 7 warni

[2021-01-19 22:09] genemiller commented on #47
Symptoms very similar to issue #21 (The following modules are missing or built with a different engine)
Except different compile errors appear in [Log.txt](https://github.com/NegInfinity/ProjectExodus/files/5838801/Log.txt)
The log shows errors in the following source files in ExodusImport/Source/ExodusImport/Private:
- UnrealUtilities.h
- getters.h
- UnrealUtilities.h
- ImportedObject.cpp
- JsonO

[2021-01-19 22:46] genemiller commented on #21
Issue #21 is similar to Issue #47(UE4.25.4: Exodusimport "...module missing or built with a different engine version")

[2021-01-26 17:42] genemiller commented on #47
Good news. I was able to work around this problem by installing UE4.23.4 on Windows10 on Parallels on  MacOS 10.15.
ExodusImport works perfectly on the Sample project while running on UE4.23.4 on Windows10.
IMPORTANT NOTE: ExodusImport is still BROKEN in UE4.25.4 on MacOS 10.15.
I am closing this issue (#47) and leaving the origin issue (#21) open.

[2021-01-26 17:44] genemiller commented on #47
Good news. I was able to work around this problem by installing UE4.23.4 on Windows10 on Parallels on  MacOS 10.15.
ExodusImport works perfectly on the Sample project while running on UE4.23.4 on Windows10.
IMPORTANT NOTE: ExodusImport is still BROKEN in UE4.25.4 on MacOS 10.15.
I am CLOSING this issue (#47) and leaving the origin issue (#21) OPEN.

[2021-01-26 17:50] genemiller commented on #21
@Rombond This issue seems to be specifically related to running UE4 on MacOS.
I was able to work around this problem by installing UE4.23.4 on Windows10 on Parallels on  MacOS 10.15.
ExodusImport works perfectly on the SampleScene while running on UE4.23.4 on Windows10.
IMPORTANT NOTE: ExodusImport is still BROKEN in UE4.25.4 on **MacOS 10.15.**
I am CLOSING issue (#47) and leaving the original is

[2021-01-26 18:02] genemiller commented on #46
Similar problem, but in my case it was UE4.24.3 that crashed.

[code]
NOTE: crash report and json file removed 1/27/2021.

[2021-01-26 21:41] genemiller opened #48 "Exodus Import: Mesh path not found when vertexCount = 0"

[2021-01-27 13:20] NegInfinity commented on #21
@MarshalScorpion This issue was related to a skeletal mesh test code which could not be compiled on unreal 4.23 or lower. The test has since been disabled for unreal 4.23.  I believe you contacted me via email regarding it and it was fixed.

[2021-01-27 13:26] NegInfinity commented on #21
I'm closing this issue due to original report being fairly old and no followup from vozer/Rombond for a year. In case someone experineces a similar issue, please open a new issue.

[2021-01-27 13:26] #21 closed

[2021-01-27 13:28] NegInfinity commented on #47
@genemiller , I do not have access to a Mac OS computer, but there was an update a short while ago, could you recheck if it changes the situation on your end? And if it does not and fails to compile, please upload new log with compile errors. If the errors are different, that is.

[2021-01-27 13:51] NegInfinity commented on #31
@DiabloFox As I said before, the plugin does not attempt to convert rotation directly and instead extracts unity object matrix, splits it into basis vectors and  then reassembles it on unreal side as a matrix.

A transform matrix is composed from X/Y/Z vectors that determine object orinetation and scale, and position vector that denotes where the object is.

The conversion procedure for matrices i

[2021-01-27 15:14] NegInfinity opened #49 "Rectangle lights are not supported."
Currently area lights are not suported, as mentioned in
https://github.com/NegInfinity/ProjectExodus/issues/46#issuecomment-767723197

The lights are marked as having lightType == "Rectangle" in json files, need proper support on export/import side. Currently both unity and unreal support them as baked light types.

[2021-01-27 15:14] NegInfinity commented on #48
(recording details for myself)
Problem description:
Meshes with no vertex data are not being imported on unreal side which makes the importer unable to find those meshes later which causes import to fail.

Offending file/function:
ExodusImport/Private/JsonImporter/Mesh.cpp, JsonImporter::importMesh(...)... line 106

Current status:
Currently safety check has been disabled.

TODO:
Create temporary

[2021-01-27 15:16] NegInfinity commented on #46
@genemiller This appears to be a different problem. I've created an issue for it. Thanks for the data files, be aware, however, that they're public.

[2021-01-27 15:17] NegInfinity commented on #48
@genemiller I've created a "plug" for now which should allow you to import the scene. I'm not sure why you'd want mesh data with no vertices, however. I'll be working on a better fix.

[2021-01-27 15:31] NegInfinity opened #50 "Intellisense goes bonkers with "" include files in VS 2019"
Apparently Visual Studio Intellisense is unable to properly resolve local include files within the project. Specifically it cannot locate "" includes within the same folder and does not see them.

Need to verify if C++ standard has changed the way of processing local files, and whether I might be in a wrong and the naming scheme needs to be changed...

[2021-01-27 15:46] genemiller commented on #49
I am pleased that you found this issue, even though I didn't open this as an issue.
(Did you see this issue in the logs I sent?)
My error was logged immediately after it tried to import the first light.
My workaround was to remove all the lights.
Now I will try changing rectangular lights to something that is supported in UE4

[2021-01-27 16:00] genemiller commented on #48
Thanks!
FYI: The meshes were produced in TiltBrush. It seems that a new mesh is generated whenever you select a new brush (like 'Paper'), even if the brush is not used.

[2021-02-17 21:36] GamerTheBrother opened #51 "Exporting bug - The bar just disappear and nothing happens"
Hey.

When I try to export it start loading the assets but on a moment

![imagen_2021-02-17_163350](https://user-images.githubusercontent.com/58179851/108270909-0f16de00-713e-11eb-997d-831d997ee58f.png)
![imagen_2021-02-17_163357](https://user-images.githubusercontent.com/58179851/108270921-1342fb80-713e-11eb-9581-1e6e02c89e60.png)

Those are the only bars that load, after the second gets done, it

[2021-03-24 16:16] chrisyan commented on #21
Hi, i am using Ubuntu 18.04, and i get also the tip "try rebuilding from source manually", then I "make" the code in folder".../UnrealBlankProject", but I get 2 errors:

"/home/chris/exodus-demos/UnrealBlankProject1/Plugins/ExodusImport/Source/ExodusImport/Private/JsonObjects/getters.h:41:20: error: use of undeclared identifier 'jsonVal'
                                auto jsonObj = jsonVal->AsOb

[2021-03-26 21:03] chrisyan commented on #14
hello,
did you solve this problem? Any tipps , I appreciate very much!

[2021-06-30 03:41] darld opened #53 "Export Unity scene to Blender"
@NegInfinity is possible to export unity scene to blender format (example: fbx or obj) The reason is the conversion from unity to unreal engine contains some asset issue. So it's great we can export to blender to touch up the asset before import into unreal engine.

[2021-09-29 12:45] NegInfinity commented on #53
Hi. Apologies for a very slow response, there were issues on my end.

It is possible theoretically, but I won't be implementing it, as there are existing packages on unity asset store to export as fbx/obj, and this plugin focus on asset transfer, which includes assets such as terrain which are supported by neither fbx nor obj.

If you simply want to extract fbx/obj from the scene, check unity asse

[2021-10-20 06:41] unuichi commented on #29
I need to convert my character models created in Unity to UE4.
I want to avoid this problem. Is it possible to fix the problem?

[2021-11-12 23:21] torphix opened #54 "UnrealEngine Import Broken"
Hi,

Having trouble getting Lib to work

When first loading the Fingerprint.h file should be FingerPrint.h instead, there are a few more mispellings which I corrected..

However the following errors are occurring.. any suggestions on how to fix?

Thank you

/home/j/Documents/Unreal Projects/darkcity/Plugins/ExodusImport/Source/ExodusImport/Private/UnrealUtilities.h:119:10: error: call to function

[2021-11-12 23:21] torphix opened #55 "UnrealEngine Import Broken"
Hi,

Having trouble getting Lib to work

When first loading the Fingerprint.h file should be FingerPrint.h instead, there are a few more mispellings which I corrected..

However the following errors are occurring.. any suggestions on how to fix?

Thank you

/home/j/Documents/Unreal Projects/darkcity/Plugins/ExodusImport/Source/ExodusImport/Private/UnrealUtilities.h:119:10: error: call to function

[2021-11-12 23:33] #54 closed, assigned to nobody

[2021-11-16 21:40] #55 closed, assigned to nobody

[2022-02-15 14:27] CodeVisionary opened #56 "Not appearing in toolbar or in gameobject menu"
It is not appearing in toolbar or in gameobject menu.... I mean the exodusExport file... it is not working

[2022-02-17 17:42] xMAKKx commented on #56
I have the same problem

[2022-02-18 17:28] DeepVoodooGitHub opened #57 "Undo doesn't work on imported Actors (from prefabs)"
Hi, I've exported a level from Unity to UE4 - all the prefab's are converted to Actors with a SceneComponent (as root) and all the prefab parts as subcomponents.. This all works great

However, I can't actually undo any changes to the actor.. For example; if I move the actor and then "undo" I get the message "Undo: Move Actors" but the actor stays in the same place..

Any ideas, or pointers on why

[2022-02-19 10:25] DeepVoodooGitHub commented on #57
After some debugging it appears that the actors don't have "RF_Transactional" flag set on them, meaning the Undo system throws away any changes after the mouse is released.

[2022-02-19 12:58] DeepVoodooGitHub commented on #57
Should anyone come across this next time; I ended up having to make an ActorActionUtility that iterated all selected objects in the level, then I ran a small bit of C++ (via C++ BP function, see below) that changed the root and root (a SceneComponent) to be RF_Transactional.

Essentially you select all the bad actors that won't undo and then run the editor function to "set" their flags correctly;

[2022-02-19 12:58] #57 closed, assigned to nobody

[2022-02-21 13:35] NegInfinity commented on #56
@CodeVisionary , @xMAKKx , I've checked in 2019.4.36f1, 2020.3.29f1, 2021.2.8f1, the menu appears in them all.

I need more information. Please make sure that the "ExodusExport" folder is copied Into "Assets" subfolder of your project. I.e. you shoudl have "<YourProject>/Assets/ExodusExport". Also check if there are any compilation errors in the console.

[2022-02-21 16:30] xMAKKx commented on #56
![Unity Toolbar](https://user-images.githubusercontent.com/45490424/154994732-77293170-6a6c-4ea7-94c2-2c270943e1eb.PNG)
![Unity Folder Structure](https://user-images.githubusercontent.com/45490424/154994740-4d5f85d5-610a-456a-a8b6-5e9583bd37e2.PNG)

[2022-02-21 16:31] xMAKKx commented on #56
@NegInfinity
![Project Settings](https://user-images.githubusercontent.com/45490424/154995157-5debc903-4dbd-4985-a438-ab2f3b64aded.PNG)

[2022-02-22 12:32] NegInfinity commented on #56
@xMAKKx what OS are you on? Could you check it on a higher unity version (2019 and up). While the readme lists 2018 as supported, it should work on newer ones as well.

[2022-03-06 14:51] zlondrej commented on #56
I had the same problem. So I tried creating new Unity project with sample scene first and it worked.
There was apparently some interference with project's scripts so I removed the entire `Script` directory and it finally showed up in the context menu.

[2022-03-11 10:25] BrayanMinkov opened #58 "No scene JSON file when exporting from Unity, Can't import in Unreal."
Hey,

I've been trying to migrate a scene from Unity to Unreal. I am using the recommended versions for both engines and following along with the tutorial videos you posted. When exporting from Unity I only get a folder with JSON files of the meshes and no scene JSON file like in the video. I do have a scene file inside the folder with the meshes, but upon attempting to import the scene JSON file

[2022-03-14 06:17] NegInfinity commented on #56
@zlondrej If you have more information, I'd appreciate it. Because perhaps I'll be able to fix the issue.

[2022-03-14 06:18] NegInfinity commented on #58
@BrayanMinkov Hi. I need to know more information. Unity version, unreal version, your operating system. If you can share test data, that would be even better, as I'd be able to take a look at it.

[2022-03-14 15:56] zlondrej commented on #56
I really don't, I haven't checked logs back then and I'm not even sure what to look for. I've stashed that project for now, but I might be able to reproduce this by following same steps if I come back to it.

[2022-03-21 20:54] Boogie14 opened #59 "IDK WHAT THIS MEANS"
im so confused and im new to this.
some one help me please
when I start up unreal engine and click on my project it ask me
the following modules are missing or built with a different engine version
and it shows Exodulsimport
i click yes and it says starting build for a couple of seconds and brings
up a error message
![Capture](https://user-images.githubusercontent.com/102092628/159362010-1f6efd46-

[2022-03-21 20:54] Boogie14 commented on #59
"whats_Hidden" is my project name

[2022-03-28 18:40] xMAKKx commented on #7
@NegInfinity is it possible that you update the importer to a newer version of Unreal? Maybe UE4 4.27 or UE5 ?

[2022-03-28 19:44] xMAKKx commented on #59
i have the same problem

[2022-04-06 09:29] AndreevDen opened #60 "Error while exporting"
![image](https://user-images.githubusercontent.com/93227864/162148478-0b39efe9-1ff8-4fe3-80c6-4dc6cdf5f00e.png)

Hello there is a problem while importing to Unreal 4.26.2. As I can see  the erroe in LOD. Arent they supported? How can i solve it? I'd appreciate you much if you answer.

[2022-05-08 07:43] Bunsble commented on #58
I have the same issue, unity version is 2018.3.0f2... I don't think the UE4 version matters as the problem is with the exporter(Unity), but UE version is UE4.26.2 or UE4.24.3... The JSON, doesn't appear... only the folder with json files in it... Please help, I'll be active until issue resolved.

[2022-05-08 07:46] Bunsble commented on #58
Windows 10

[2022-05-08 07:55] Bunsble commented on #58
When I click "Begin Export" in Unity, it exports the Folder only, however when I go to windows "Quick Access" Panel I see the json file with the same name, but when I open it... It says "Theses files could not be found and will not be loaded"... then I click "Open File location" on the json and it goes to the folder with json files, but no json there... So maybe it's being created but removed/dele

[2022-05-08 07:57] Bunsble commented on #58
I am trying to export this project - https://assetstore.unity.com/packages/3d/environments/fantasy/top-down-fantasy-forest-rts-moba-182144#description

[2022-05-11 09:01] BrayanMinkov commented on #58
Forgot I opened this problem, sorry about that.

So what I managed to figure out is that having game objects with scripts or other code/logic attached to them can mess up the export and give you an empty folder. After I removed all those I got a good export but couldn't get it imported into Unreal 5 (don't remember the exact reason for that).

What I ended up using is Unity's option to export a sc

[2022-05-11 09:02] BrayanMinkov commented on #58
Thanks for reaching back to me! I was too deep into the project and completely missed this. I managed to find an alternative, I posted a comment on it.

Thanks again <3

[2022-06-07 07:55] gawinwong commented on #21
Same problem, have you solved it?

[2022-06-17 02:13] harryqk commented on #21
same problem, on Mac

[2022-08-04 08:45] TACHENZHICHAO opened #61 "Unity to UE5"
Request update

[2022-08-16 02:38] SADracon opened #62 "Unity 2019.4.40f1"
Hey NegInfinity

Is there a way to make this work with unity 2019 as my scene is build with it. and i cant seem to convert it back to a older version.